

<div class="about"> 
<h1>Welcome - Ready to get shredded?</h1>
<h3>Then this is the right place for you!</h3>

</div>
<br><br><br>
 <div class="container-fluid" id="fluidabout">
         <div class="row" id="aboutme">
            <div class="col-md-5 col-xs-12" id="col1">
              <%= image_tag("Bild.jpg", class: "weight_lift") %>

            </div>
            <!--end col-md-4-->
            <div class="col-md-7 id="col2">
               <h2>Who Am I?</h2>
               <p>I have been trying to live and active and healthy lifestyle for the last six years now. It all started when returning home after spending two years at boarding school. Packets of crips, bars of chocolate and masses of chinese takeaways were normal for me. When I got back it was time to change soemthing. I started reading around online and focusing on plyometrcis as well as body weight training. However, I saw the biggest changes when I started lifting weights. <br><strong>If you are interested in joining me in this journey please feel free to contact me! </strong> 
               </p>
            </div>

</div>
