

<div class="contact"> 
<h1>Contact Me!</h1>
<h3>Come find me in Frankfurt</h3>


        <h2><span class=“glyphicon glyphicon-user”></
         <br><br><br>
         <div class="box">
            <h1><span class="glyphicon glyphicon-envelope"></span>ComeSayHi@Karo.de </h1>
         </div>
         <!-- end box -->
         <div class="end">
            <br><br>
            <h3> Or if you prefer, come by the office!</h3>
            <h1><span class="glyphicon glyphicon-home"></span> Rhein Straße 133 <br> Frankfurt </h1>
         </div>
         <!-- end end -->

</div>